@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #2937FD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-poppins);

  --container: 1200px;
}

@utility container {
  width: 100%;
  max-width: var(--container);
  margin-inline: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

* {
  line-height: 150%;
}

p {
  line-height: 200%;
}
